@import "tailwindcss";

@theme {
  --color-ink: #16233D;
  --color-paper: #F3F4F6;
  --color-gold: #C99A3F;
  --color-income: #1E8E5A;
  --color-expense: #D64545;
  --color-border: #E4E6EA;

  --font-display: "Lexend", sans-serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-paper);
  font-family: var(--font-sans);
  color: var(--color-ink);
}